# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://your-url.supabase.co/
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Cloudflare Worker Backend
EXPO_PUBLIC_API_URL=https://your-url.workers.dev/

# Google Gemini AI
GEMINI_API_KEY=your-api-key

#OpenRouter AI
EXPO_PUBLIC_OPENROUTER_API_KEY=your-api-key

# ElevenLabs Voice AI
EXPO_PUBLIC_ELEVENLABS_API_KEY=your-api-key
