
Frontend Env:

Supabase Authentication
EXPO_PUBLIC_SUPABASE_URL=https://koudz09jc092j3c923j-j9-eojjkteioowweel.supabase.co/
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbG98cjw8cj023jc329jc0j09jciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtvdWR6ZW9qamt0ZWlvb3d3ZWVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA3MTEyODUsImV4cCI6MjA3NjI4NzI4NX0.yHHgFWIYy2RNDMd5VHSuOiHZYgrG3fmTXQr9crYRS-Q

Cloudflare Worker Backend
EXPO_PUBLIC_API_URL=https://peer-fitness-worker.gymbro.workers.dev/

Google Gemini AI
GEMINI_API_KEY=AIzaSyCua3FUDnURI923d23-3d23d23OH1wSlrNMqbX-wtnWSYHY

#OpenRouter AI
EXPO_PUBLIC_OPENROUTER_API_KEY = sk-or-v1-06e1de8f08u0jc2308jc230303c1b02e08e988a5ce8775093d1771608e02e7f26c81083b80040eefa

ElevenLabs Voice AI
EXPO_PUBLIC_ELEVENLABS_API_KEY=sk_b7d7d4852iovnsadovidsnvodsvnsdv382r0r8230r18988b4ba5e4b0358af81d61f8834e825e4f78d

Cloudflare Worker Environment Variables (for wrangler.toml)
SUPABASE_URL=https://kouvdscvdsvdsdzeojjkteioowweel.supabase.co
SUPABASE_SERVICE_ROLE_KEY=yHHgFWIYy2RNDMd5VHSuOiHZYgrG3fmTXQr9crYRS-Q
